.circle{
  background-color: red;
  width: 50px;
  display: inline-block;
  border-radius: 69%;
  text-align: center;
  color: white;
  font-size: 33px;
}

button {
  display: block;
  width: 100px;
  margin: auto;
}

li{
  display: inline-block;
  margin: 10px;
}